<!-- v-if 예시2 -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hello vue.js</title>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
</head>

<body>
    <div id="rank">
        랭크점수 : <input type="text" v-model="point" />
        <br /> 회원님의 랭크 :
        <span v-if="point >= 60000">Challenger</span>
        <span v-else-if="point >= 40000">Diamond</span>
        <span v-else-if="point >= 25000">Platinum</span>
        <span v-else-if="point >= 15000">Gold</span>
        <span v-else-if="point >= 8000">Silver</span>
        <span v-else-if="point >= 2000">Bronz</span>
        <span v-else-if="point >= 500">Kappa</span>
        <span v-else>Black</span>
    </div>
    <script type="text/javascript">
        var simple1 = new Vue({
            el: "#rank",
            data: {
                point: 1000
            }
        });
    </script>
</body>

</html>